<header>
  <a href="/"><img src="https://fontmeme.com/permalink/180401/ebd8cc51ec8f24ef053f3daebd6b9506.png" alt="blue-apron-logo-font" border="0"></a>
  <h1>Grease Munchy...why not?</h1>
</header>
<main id='root'>
  <p>Food is better fried</p>
</main>
