html, body, header, footer, main, nav, div,
span, article, p, h1, h2, a, img, i, ul, li,
button, section, form, fieldset, label, input,
textarea {
	padding: 0px;
	margin: 0px;
	height: auto;
	font-family: "Helvetica", sans-serif;
	display: block;
	position: relative;
	text-align: center;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;

	background-color: #f9f9fc;
}

.app-wrapper {
	width: 100vw;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
