.content-header {
	position: relative;
	width: 100vw;
	max-width: 1000px;
	padding: 0 30px 30px 30px;
}

.content-header h1 {
	margin-bottom: 20px;
}

.home-video {
	width: 100%;
	border-radius: 10px;
}
