.splash-header {
	position: relative;
	width: 100vw;
	padding: 0;
	margin: auto;

	h1 {
		margin-bottom: 20px;
	}

	.splash-header-container {
		display: block;
		position: absolute;
		width: 520px;
		text-align: center;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 0;
		margin: auto;
		height: 205px;
		overflow: hidden;

		.splash-header-text {
			color: #ffffff;
			font-size: 48px;
			margin: 0 auto;
		}

		.signup-btn {
			font-size: 16px;
			// line-height: 54.72px;
			// height: 54.72px;
			margin: 20px 150px;
			padding: 15px 30px;
			text-decoration: none;
			// width: 300px;
		}
	}

	.home-video {
		height: auto;
		width: 100%;
	}
}
