.splash {
    display: flex;
		flex-direction: column;

    &-header {
        position: relative;
        width: 100vw;
        padding: 0;
        margin: auto;

        h1 {
            margin-bottom: 20px;
        }

        &-container {
            display: block;
            position: absolute;
            width: 520px;
            text-align: center;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 0;
            margin: auto;
            height: 205px;
            overflow: hidden;

            .splash-header-text {
                color: #ffffff;
                font-size: 48px;
                margin: 0 auto;
            }

            .signup-btn {
                font-size: 16px;
                margin: 20px 150px;
                padding: 15px 30px;
                text-decoration: none;
            }
        }

        .home-video {
            height: auto;
            width: 100%;
        }
    }

    .splash-easy-steps {
				margin: 50px auto 0;
				width: 600px;
			
        .step1, .step2, .step3 {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
					}

				.splash-body-text {
						width: 300px;
						
						* {
								text-align: left;
						}

						h2 {
								font-size: 28px;
								margin-bottom: 20px;
						}

						p {
							font-size: 17px;
							color: #6a6d75;
							line-height: 1.5em;
						}
				}
		}
}
