<!DOCTYPE html>
<html>
  <head>
    <title>Grease Munchy: Faster Fast Food</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
